@use './styles/variables' as var;

.App {
	width: 100vm;
	height: 100vh;
	background-color: var.$color-light-grey;
	display: flex;
	justify-content: center;
	align-items: center;

	& .attribution {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		bottom: 5px;
		font-size: 11px;
		text-align: center;
		z-index: 1;
	}
	& .attribution a {
		color: hsl(259, 100%, 65%);
		text-decoration: none;

		&:hover {
			color: hsl(259, 80%, 75%);
		}
	}
}